{% extends "base.html" %}
{% block content %}
{% load static %}
<!--контейнер для контента1-->
<div class="col-lg-5">
    <div class="thumbnail">
        <div>
            <a class="thumbnail" href="/">
                <img class="thumbimg" src="{% static "aboutme_thumb.jpg" %}" alt="photo">
            </a>
        </div>
    </div>
</div>

<!--контейнер для контента1-->
<div class="col-lg-7">
    <div class="thumbnail">
        <h4>Немного про меня:</h4>
        <div>
            <b>Характеристики:</b>
            <ul class="list-unstyled">
                <p>Привет. <br>
                    Меня завут {{ name }}.
                    Мне {{ age }}. Дата выпуска - {{ wasborn }}.<br>
                    Я живу и работаю в Новосибирске.<br>
                    <b>Мои увлечения:</b>
                <ul class="list-unstyled">
                    {% for hobby in hobbys %}
                    <li>{{ hobby }}</li>
                    {% endfor %}
                </ul>
                <!--Увлекаюсь фотографией, автоспортом, фотографией автоспорта, и автомобилями.(<a href="http://yadi.sk/d/8H4-jc7-3DcU28" >смотреть картиночки</a>).<br> -->
                <!--Мечтаю вернуться в фехтование.<br> -->
                Правда нелогично, что на фотографии я и мотоцикл? Но мне нравится и пусть будет :)<br>
                Вожу {{ car }}<br>
                Сейчас встал на путь
                <del>погромиста</del>
                > программиста (пока что я работал только в поддержке и админах).</p>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
