{% extends "base.html" %}
{% block content %}
{% load static %}
<!--контейнер для контента1-->
<div class="col-lg-5">
    <div class="thumbnail">
        <div>
            <a class="thumbnail" href="/">
                <img class="thumbimg" src="{% static "aboutme_thumb.jpg" %}" alt="photo">
            </a>
        </div>
    </div>
</div>

<!--контейнер для контента1-->
<div class="col-lg-7">
    <div class="thumbnail">
        <h4>Немного про меня:</h4>
        <div>
            <b>Характеристики:</b>
            <ul class="list-unstyled">
                <p>Привет. <br>
                    Меня завут {{ name }}.
                    Мне {{ age }}.
                    Я живу и работаю в Новосибирске.<br>
                    Увлекаюсь фотографией, автоспортом, фотографией автоспорта, и автомобилями.<br>
                    Правда нелогично, что на фотографии я и мотоцикл?  Но мне нравится и пусть будет :)<br>
                Вожу {{ car }}<br>
                Сейчас встал на путь программиста (пока что я работал только в поддержке и админах).</p>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
