{% extends "base.html" %}
{% block content %}
{% load static %}
<!--content 1-->
<div class="col-lg-12">
    <div class="thumbnail">
        <h4>Мои знания и навыки.</h4>
        <div>
            <b>Характеристики персонажа:</b>
            <ul class="list-unstyled">
                {% for place in schools %}
                <li class="poster">Учился в <a href=http:\\{{ place.organization.site }} target="_blank"> <strong> "{{ place.organization.name }}" </strong> </a> по курсу <strong>"{{ place.course }}"</strong> в течении
                    {{ place.period }}
                    месяцев.
                    <div class="descr">
                        <p>Наименование: {{ place.organization.name }}<br>
                            Регион: {{ place.organization.region.name }}<br>
                            Адрес: {{ place.organization.addres }}<br>
                            Телефон: {{ place.organization.phone }}<br>
                            Официальный сайт: <a href=http:\\{{ place.organization.site }} target="_blank"> http:\\{{ place.organization.site }} </a></p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}