{% extends "base.html" %}
{% block content %}
{% load static %}
            <!--бутылка 1-->
            <div class="col-lg-12">
                <div class="thumbnail">
                    <h4>Моя работа.</h4>
                    <div>
                        <b>Кем я успел поработать:</b>
                        <ul class="list-unstyled">
                            <li>Вожатый</li>
                            <li>Мастер починки сотовых телефонов</li>
                            <li>Сисадмин</li>
                            <li>Эникейщик</li>
                            <li>Инженер прикладного сопровождения</li>
                            <li>Прикладной администратор</li>
                            <li>Фотограф на соревноваяних RDS Сибирь.</li>
                        </ul>
                    </div>
                </div>
            </div>
{% endblock %}