{% extends "base.html" %}
{% block content %}
{% load static %}

<!--content 1-->
<div class="col-lg-12">
    <div class="thumbnail">
        <h4>Моя работа.</h4>
        <div>
            <b>Кем я успел поработать:</b>
            <ul class="list-unstyled">
                {% for work in works %}
                <li class="poster">Работал в организации <a href=http:\\{{ work.organization.site }}
                                                            target="_blank"><strong>"{{ work.organization.name }}"
                </strong></a> {{ work.period }} месяцев на должности <strong>"{{ work.position }}"</strong>.
                    <a href="/organization/">Подробнее об организации</a>
                    <div class="descr">
                        <p>Наименование: {{ work.organization.name }}<br>
                            Регион: {{ work.organization.region.name }}<br>
                            Адрес: {{ work.organization.addres }}<br>
                            Телефон: {{ work.organization.phone }}<br>
                            Официальный сайт: <a href=http:\\{{ work.organization.site }} target="_blank"> http:\\{{ work.organization.site }} </a></p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}