{#TODO: Сделать нормальный дизайн для админки#}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>
        {% block title %}
        Админка.
        {% endblock %}
    </title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}"/>
    {% endblock %}
    <meta charset="utf-8">
</head>
<body>
<div class="container">
    {% block js %}
    <script src="{% static 'jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    {% endblock %}
    {#
    <div id="csrfmiddlewaretoken" style="display: none;">{% csrf_token %}</div>
    #}

    <div class="page-header">
        <div class="row">
            {% block header %}
            <div class="col-md-12">
                <h1>Админка</h1>
            </div>
            {% endblock %}
        </div>
    </div>

    <div class="row">
        {% block menu %}
        / <a href="{% url 'admin_users' %}">пользователи </a>/
        <a href="{% url 'admin_cats' %}">Категории </a>/
        {% endblock %}
    </div>

    <div class="row">
        {% block content %}
        <!--base % context % template-->
        {% endblock %}
    </div>
    <div class="modal-footer">
        {% block footer %}
        &copy; 2017 GB
        {% endblock %}
    </div>
</div>
</body>
</html>