{% extends "base.html" %}
{% block content %}
{% load static %}
{% if reg_errors %}
<ul>
    {% for key, value in reg_errors.items %}
    <li>{{ key }} - {{ value }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="post" role="form" action="/reg/">
    {% csrf_token %}
    <p>
        <input type="text" name="name" placeholder="Enter Name" required>
    </p>
    <p>
        <input type="email" name="email" placeholder="Enter Email" required>
    </p>
    <p>
        <input type="email" name="confirm_email" placeholder="Confirm Email" required>
    </p>
    <p>
        <input type="password" name="password" placeholder="Enter password" required>
    </p>
    <p>
        <input type="password" name="confirm_password" placeholder="Enter password again" required>
    </p>
    <button type="submit" name="submit">Send</button>
</form>
{% endblock %}