{% extends "base.html" %}
{% block content %}
{% load static %}

{% for image in imagelist %}
<div class="col-lg-3 thumb_wrap">
    <div class="thumbnail">
        <div>
            <a class="thumbnail" href="#image_{{ image.id }}" data-toggle="modal">
                <img class="thumbimg" src="{{ MEDIA_URL }}{{ image.image }}" alt="{{ image.name }}">
            </a>
        </div>
        <div class="thumbdesc">
           <strong> Название: {{ image.name|upper }}, Автор: {{ image.author }}, дата загрузки: {{ image.date }} </strong>
            {% if user.is_authenticated and image.author.id == request.user.id %}
            <a href="img/delete/{{ image.id }}"> Удалить </a>
            {% elif user.is_superuser %}
            <a href="img/adm_delete/{{ image.id }}"> Удалить </a>
            {% endif %}
        </div>
    </div>
</div>

<div id="image_{{ image.id }}" class="modal fade modal_div_img">
  <div class="modal-dialog" style="width: 80%">
    <div class="modal-content" style="width: 85%">
      <!-- Заголовок модального окна -->
      <div class="modal-header">
        <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button-->
        <h4 class="modal-title">{{ image.name|upper }}</h4>
      </div>
      <!-- Основное содержимое модального окна -->
      <div class="modal-body modal_div_img" data-dismiss="modal">
          <img src="{{ MEDIA_URL }}{{ image.image }}" alt="{{ image.name }}" class="modal_div_img" style="width: 100%">
      </div>
      <!-- Футер модального окна -->
      <!--div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div-->
    </div>
  </div>
</div>

{% endfor %}

        <!--div id="openModal" class="modalDialog">
            <div>
                <a href="#close" title="Закрыть" class="close">X</a>
                <div>
                    <img src="{{ MEDIA_URL }}{{ image.image }}" alt="{{ image.name }}">
                </div>
            </div>
        </div-->


{% if user.is_authenticated %}
<div class="col-lg-3 thumb_wrap">
    <div class="thumbnail">
        <div>
            <a class="thumbnail" href="{% url 'album_image_create' %}">
                <img class="thumbimg" src="{% static 'add.png' %}" alt="Добавить картинку">
            </a>
        </div>
        <div class="thumbdesc">
           <strong> Добавить картинку </strong>
        </div>
    </div>
</div>
<form  method="post", action="" enctype="multipart/form-data">
	{% include 'inc-image_registration_form.html' %}
	<input type="submit" value="Создать">
</form>
{% endif %}

<div class="pager breadcrumb-item active">
    <span class="step-links">
        {% if imagelist.has_previous %}
            <a href="?page=1">| первая</a>
            <a href="?page={{ imagelist.previous_page_number }}">| предыдущая</a>
        {% endif %}
        <span class="current">
           | Страница {{ imagelist.number }} из {{ imagelist.paginator.num_pages }} |
        </span>
        {% if imagelist.has_next %}
            <a href="?page={{ imagelist.next_page_number }}">следующая |</a>
            <a href="?page=999999999999999"> последняя |</a>
        {% endif %}
    </span>
</div>
{% endblock %}
