<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{ title }}-ZPICZ</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-theme.css' %}">
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"-->
    <link rel="stylesheet" type="text/css" href="{% static 'style_b.css' %}">
    <script src="{% static 'jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</head>
<body>
<div class="col-lg-10 container">
    <div class="col-lg-12 content">
        <div class="header">
            <div class="menu">
                <ul class="list-inline">
                    <li class="menu-points" style="color:
                    {% if user.is_superuser %}
                    red
                    {% else %}
                    lightgreen
                    {% endif %}
                    ">{{ user|capfirst }}</li>
                    <li class="menu-points"><a href="/">Главная</a></li>
                    <li class="menu-points"><a href="/aboutme/">Обо мне</a></li>
                    {% if user.is_authenticated %}
                    <li class="menu-points">
                        <a href="/logout/">Выйти</a>
                            {% if user.is_superuser %}
                        <a href="/admin/" target="_blank">Админка</a>
                            {% endif %}
                    </li>
                    {% else %}
                    <li class="menu-points"><a href="#openModal">Войти</a></li>
                    <li class="menu-points"><a href="/registration/">Зарегистрироваться</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div id="openModal" class="modalDialog">
            <div>
                <a href="#close" title="Закрыть" class="close">X</a>
                <div {% if user.is_authenticated %} class="logformhide" {% endif %}>
                    <form method="post" action="/login/"> {% csrf_token %}
                        <input type="text" name="login" value="" placeholder="Логин"><br>
                        <input type="password" name="password" value="" placeholder="Пароль"><br>
                        <button type="submit" class="btn btn-default logformwidth">Войти</button>
                    </form>
                    <p>{{ mess }}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-12 breadclumps">
            <ul class="breadcrumb">
                {% if page == 'main' %}
                <li class="breadcrumb-item active"><a href="/">Главная</a></li>
                {% else %}
                <li class="breadcrumb-item active"><a href="/">Главная</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="row">
            {% block content %}

            {% endblock %}
        </div>
        <div class="buffer"></div>
    </div>
    <div class="footer"><p>&copy; Все права защищены. ZLStudio. 2017.</p></div>
</div>
</body>
</html>
