{% for cat in cats %}
{% load static %}
<li>{{ cat }}
    <button type="button" class="btn btn-default" aria-label="Edit"
            onclick="fill_form({{ cat.id }})">
        <!--<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>-->
        Редактировать
    </button>
    <button type="button" class="btn btn-default" aria-label="Delete">
        <a href="delete/cat/{{ cat.id }}" class="btn btn-default">
            <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
            Удалить
        </a>
    </button>
</li>
{% endfor %}