{% csrf_token %}
{% load static %}
<table>

    {% for field in form %}
    <span class="hidden" id="cont_id">{{ id }}</span>
        <tr>
            <td>
                {{ field.label_tag }}
            </td>
            <td>
                <div>
                    <ul>
                        {% for error in field.errors %}
                            <li class="error">errors:{{ error }}</li>
                        {% endfor %}
                        {{ field }}
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>

