{% csrf_token %}
{% load static %}
<table>
    <span class="hidden" id="user_id">{{ id }}</span>
    {% for field in form %}
    {% if field.name != "author" %}
    <tr>
        <td>
            {{ field.label_tag }}
        </td>
        <td>
            <div>
                <ul>
                    {% for error in field.errors %}
                    <li class="error">errors:{{ error }}</li>
                    {% endfor %}
                    {{ field }}
                </ul>
            </div>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
