{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="col-lg-12">
    <div class="thumbnail">
        <p> Приветствую, <strong>{% if user.is_authenticated %} {{ user|capfirst }} {% else %} Guest {% endif %}
        </strong>. </p>
        <p>Это главная страница сайта.Осмотритесь в поисках интересного</p>
    </div>
</div>
{% for cat in cats %}
<div class="col-lg-5">
    <div class="thumbnail">
        <div class="thumbdesc">
            {{ cat.name }}
        </div>
        <div>
            <a class="thumbnail" href="#">
                <img class="thumbimg" src="/upoad/{{ cat.image }}" alt="{{ cat.name }}">
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}