{% extends "base.html" %}
{% block content %}
{% load static %}


<div class="col-lg-12">
    <div class="thumbnail">
        <p> Приветствую, <strong>{% if user.is_authenticated %} {{ user|capfirst }} {% else %} {{ guest}} {% endif %}
        </strong>. </p>
        <p>Это главная страница сайта.Осмотритесь в поисках интересного</p>
    </div>
</div>
{% for cat in categories %}
<div class="col-lg-3 thumb_wrap">
    <div class="thumbnail">
        <div>
            <a class="thumbnail" href="/list/{{ cat.id }}">
                <img class="thumbimg" src="{{ MEDIA_URL }}{{ cat.image }}" alt="{{ cat.name }}">
            </a>
        </div>
        <div class="thumbdesc">
           <strong> {{ cat.name|upper }} </strong>
        </div>
    </div>
</div>
{% endfor %}
<div class=" pager breadcrumb-item active">
    <span class="step-links">
        {% if categories.has_previous %}
            <a href="?page=1">| первая</a>
            <a href="?page={{ categories.previous_page_number }}">| предыдущая</a>
        {% endif %}
        <span class="current">
           | Страница {{ categories.number }} из {{ categories.paginator.num_pages }} |
        </span>
        {% if categories.has_next %}
            <a href="?page={{ categories.next_page_number }}">следующая |</a>
            <a href="?page=999999999999999"> последняя |</a>
        {% endif %}
    </span>
</div>
{% endblock %}
